.App {
  text-align: center;
}

/* .coolBackground {
  background-image: url("img/cool-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */

.header {
  font-size: 50px;
  padding: 60px 30px 0;
  display: flex;
  justify-content: center;
}
.header h1 {
  margin-left: 30px;
  margin-right: 30px;
  font-family: Raleway, Helvetica, sans-serif;
}

.btn {
  margin-bottom: 20px;
}
